<footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5>Senaste konferenser</h5>
          <ul>
            <li><a href="https://sites.google.com/site/opkoko132/">2013.2 Marstrand</a></li>
            <li><a href="https://sites.google.com/site/opkoko141a/">2014.1 Bodrum, Turkiet</a></li>
            <li><a href="https://sites.google.com/site/opkoko142/">2014.2 Hooks Herrgård</a></li>
            <li><a href="https://sites.google.com/site/opkoko151/">2015.1 Kreta, Grekland</a></li>
            <li><a href="https://sites.google.com/site/opkoko152/">2015.2 Växjö</a></li>
          </ul>
          <a href="/conferences">Se alla konferensenser</a>
        </div>
        <div class="col l3 s12">
          <h5>Anlut med oss</h5>
          <ul>
            <li><a href="http://www.omegapoint.se">omegapoint.se</a></li>
            <li><a href="https://twitter.com/omegapoint_ab">Twitter</a></li>
            <li><a href="https://www.facebook.com/omegapointab">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright light-blue">
      <div class="container">
      Made with <3 by The web team
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
