<nav class="white" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">OPKoKo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/nyheter">Nyheter</a></li>
        <li><a href="/program">Program</a></li>
        <li><a href="/contact">Kontakt</a></li>
        <li><a href="/conferences">Tidigare konferenser</a></li>
        <li><a href="/intern">Internt</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/nyheter">Nyheter</a></li>
        <li><a href="/program">Program</a></li>
        <li><a href="/contact">Kontakt</a></li>
        <li><a href="/conferences">Tidigare konferenser</a></li>
        <li><a href="/intern">Internt</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
