
{{ partial "header.html" . }}
{{ partial "menu.html" . }}

<div id="index-banner" class="parallax-container">

  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center">OPKoKo 16.1 Madrid</h1>
      <div class="row center">
        <h5 class="header col s12 light">OPKoKo är Omegapoints kompetenskonferens</h5>
        <p>&nbsp;</p>
        <a class="waves-effect waves-light btn" href="pdf/OPKoKo 15.2 Program 1.1.pdf">Ladda ner programmet</a>

      </div>
    </div>
  </div>
  <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>

</div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Kompetens</h5>

            <p class="light">Kompetens är Omegapoints drivstjärna, det är något som vi alla brinner för och som är väl inrotat i företaget sedan starten.</p>
            <p class="light">OPKoKo är en del i vårt kompetensarbete, det är en konferens där våra medarbetare anordnar allt, håller föredragen och går själva och lyssnar. Allt för att det är någonting som vi vill och för att detta är en självklarighet för oss att ha det så.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">group</i></h2>
            <h5 class="center">Sammanhållning</h5>
            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">grade</i></h2>
            <h5 class="center">Kul fest</h5>
            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="section">
      <h4 class="center">Om Omegapoint</h4>
        <h6>Säkra affärerna, utvecklas med oss</h6>
        <p class="light">
          Omegapoints medarbetare är ledande experter inom applikationssäkerhet. Genom att kombinera högkvalitativ systemutveckling och säkerhet i våra leveranser möjliggör vi för våra kunder att utvecklas uthålligt. Omegapoints medarbetare har gedigen kompetens och lång erfarenhet av att utveckla verksamheter tillsammans med våra kunder. Där kunden bara har råd att göra rätt, där detaljer i tekniken gör skillnad för affär och verksamhet är Omegapoint inte bara en bra IT-leverantör utan också ledande inom verksamhetsutveckling.
      </p>
      <p class="light">
        Läs mer om Omegapoint på vår hemsida: <a href="http://www.omegapoint.se">http://www.omegapoint.se</a>
      </p>
    </div>

  </div>

	{{ partial "footer.html" . }}
